/* Font Family for Header is Handjet */

/* Reset Styles START */

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;

}

nav ul, nav ol, li {
    list-style-type: none;
}


img {
    max-width: 100%;
    height: auto;
    display: block;

}

/* Reset Styles END */

header {
    width: 1200px;
    height: 250px;
    background-image: url(images/banner.jpg);
    align-content: center;
    margin: auto;
}

body {
    background-color: #b49aac;
}

h1, h2 {
    font-family: Inter;
    font-weight: 550;
    line-height: 1.3em;
    color: rgb(231, 231, 231);
    text-align: center;
    margin-bottom:10px;
}

h2 {
    color: black;
    margin-bottom: 20px;
}

#myNameHeader {
    font-size: 3.75em;
    color: rgb(223, 223, 223);
}

main {
    font-family: Inter;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: auto;
    
}

.column {
    flex-wrap: wrap;
    min-width: 250px;
    min-height: 300px;
    border: 4px solid #671b50;
    padding:20px;
    text-align: center;
    border-radius: 15px;
    background-color: #d3c2cd;
    font-size: large;
    margin: 50px;
    
}

.row {
    flex-direction: column;
}

.fullSection {
    display: flex;
    margin: auto;
    
}

aside {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
    align-content: center;
    margin: auto; 
  }
  
  aside:hover img {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

/* this is to adjust the spacing on the bottom of each li */
ul li {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    line-height: 1.3em;
}

/* unvisited link */
a:link {
    color: #2d2d2d;
  }
  
  /* visited link */
  a:visited {
    color:#3d333b;
  }
  
  /* mouse over link */
  a:hover {
    color: #ae1d79;
  }

footer {
    font-family: Inter;
    text-align: center;
    line-height: 2em;
    color:#1f1f1f;
    background-color: #c4aabc;
    padding: 20px;
    width: 1250px;
    margin: auto;
}

