
/* Reset Styles START */

h1,h2,h3,p,ul,ol {

    margin: 0;
    
    padding: 0;
    
    }

/* Removes all bullet points */

ul, li {

list-style-type: none;

}

/* Resets Images */


img {

max-width: 100%;

height: 100%;

display: block;

border-radius: 4px;

}

header {
    min-width: 1200px;
    width: 100%;
    min-height: 250px;
    height: 100%;
    background: rgb(219,224,255);
    background: radial-gradient(circle, rgba(231,231,255) 0%, rgba(166,177,237,1) 100%);
    align-content: center;
    text-align: center;
    border-bottom: solid black;
}


h1 {
    font-family: 'Pinyon Script';
    font-size: 4em;
}

h2 {
    font-family: 'Orbit';
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.3em;
}

/* scrolling animation */
.scroll-container {
    /* this creates a viewport for scrolling text */
    width: 100%; /* makes the container full width */
    overflow: hidden; /* hides text outside container boundaries */
    margin-bottom: 30px; /* to not overlap h1 (my name) */
}

.scroll-text {
    display: inline-block; /* allows text to maintain its width */
    white-space: nowrap; /* prevents text wrapping */
    animation: scrollText 60s linear infinite; /* controls the movement timing */
}

@keyframes scrollText {
    0% {
        -webkit-transform: translateX(100%); /* accomodating diff web formats */
        -moz-transform: translateX(100%);
        transform: translateX(0%); /* starts in center */
    }
    100% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(100%);
        transform: translateX(-100%); /* end at right */
    }
}

body {
    background: rgb(219, 224, 255);
    background: linear-gradient(0deg, rgb(231, 231, 255) 0%, rgba(166,177,237,1) 100%);
}

ul li {
    font-family: 'Orbit';
    line-height: 1.5em;
}

/* main {
    display:flex;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    min-height: calc( 100vh - 400px);
    max-width: 1300px;
    background-color: #E9EBFC;
    justify-content: center;
} */

main {
    box-sizing: border-box;
    min-height: calc( 100vh - 400px);
    padding: 30px;
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    background-color: #4c4e602d;
    align-content: center;
}

main article {
    flex: 1;
    
}

.card {
    aspect-ratio: 2 / 3;
    position: relative;
    perspective: 1000px; 
    margin-top: 23px;
 }

 .card:hover .front {
	transform: rotateY(0deg);
}

.card:hover .back {
    transform: rotateY(180deg);
}

.back, .front {
	backface-visibility: hidden;
   border-radius: 10px;
	transition: 1s;
   position: absolute;
   top:0;
   left: 0;
   width: 100%;
   height: auto;
}

.back { 
    border: 3px solid #B1BBEA;
    transform: rotateY(0deg); 
    aspect-ratio: 2 / 3;
    width: 255px;
    height: 375px;
 }

 .front {
    background-color: #D6DBF9;
	transform: rotateY(-180deg);
    border: 3px solid #B1BBEA;
    width: 100%;
    display: block;
    border-radius: 10px;
    padding: 10px;	
    height: 355px;
    width: 235px;
}



footer {
    font-family: 'Orbit';
    align-content: center;
    text-align: center;
    margin: 40px auto;
}



