/* Font Family for Header is Handjet */

/* Reset Styles START */

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;

}

nav ul, nav ol, li {
    list-style-type: none;
}


img {
    max-width: 100%;
    height: auto;
    display: block;

}

/* Reset Styles END */

form {
    min-width: 38px;
    min-height: 40px;
}

label, input {
    display: block;
}

input {
    margin-bottom: 20px;
}

fieldset input, fieldset label {
    display: inline;
}

fieldset label {
    margin-bottom: 20px;
}



#whiteInnerBorder {
    background-color: white;
    min-width: 471px;
    min-height: 407px;
    padding:30px;
    margin: 20px;
    border-radius: 8px;
}

#pinkOuterBorder {
    background-color: pink;
    width: 600px;
    height: 500px;
    border-radius: 8px;
    padding: 10px;
    margin: 100px auto;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.row h2 {
    flex-basis: 100%; /* takes up 100 percent of space */
}

.column {
    padding:20px;
    margin: 20px;
    flex: 1;
}

