/* Font Family for Header is Handjet */

/* Reset Styles START */

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;

}

nav ul, nav ol, li {
    list-style-type: none;
}


img {
    max-width: 100%;
    height: auto;
    display: block;

}

/* Reset Styles END */

header {
    min-width: 1200px;
    width: 100%;
    min-height: 250px;
    height: 100%;
    background: rgb(219,224,255);
    background: radial-gradient(circle, rgba(231,231,255) 0%, rgba(166,177,237,1) 100%);
    align-content: center;
    text-align: center;
    border-bottom: solid black;
}



h1 {
    font-family: 'Pinyon Script';
    font-size: 4em;
}

body {
    background: rgb(219, 224, 255);
    background: linear-gradient(0deg, rgb(231, 231, 255) 0%, rgba(166,177,237,1) 100%);
}


h2, h3 {
    font-family: 'Orbit';
    color: black;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom:10px;
}

/* scrolling animation */
.scroll-container {
    /* this creates a viewport for scrolling text */
    width: 100%; /* makes the container full width */
    overflow: hidden; /* hides text outside container boundaries */
    margin-bottom: 30px; /* to not overlap h1 (my name) */
}

.scroll-text {
    display: inline-block; /* allows text to maintain its width */
    white-space: nowrap; /* prevents text wrapping */
    animation: scrollText 60s linear infinite; /* controls the movement timing */
}

@keyframes scrollText {
    0% {
        -webkit-transform: translateX(100%); /* accomodating diff web formats */
        -moz-transform: translateX(100%);
        transform: translateX(0%); /* starts in center */
    }
    100% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(100%);
        transform: translateX(-100%); /* end at right */
    }
}


nav {
    display:inline-flex;
    justify-content: center;
}

ul li {
    display: inline-block;
}


p {
    line-height: 2em;
    font-family: 'Orbit';
    color: rgb(104, 104, 104);
}

section {
    margin: auto;
    flex-direction: column;
}

article {
    padding: 40px;
    background-color: #E9EBFC;
    border-radius: 4px;
    max-width: 800px;
}

.spacer {
    padding: 40px;
}

.date {
    color:rgb(21, 21, 21);
}

.source {
    color:rgb(60, 60, 60);
}

main {
    display: flex;
    flex: 1;
    margin:auto;
    padding: 80px;
}

