/* Font Family is --- */

/* Reset Styles START */

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;

}

nav ul, nav ol, li {
    list-style-type: none;
}


/* reset styles end */

header {
    height: 100px;
    top:0;
    width: 100%;
    display: grid;
    place-content: center;
    text-align: center;
}


h1 {
    font-family: "pf-pixelscript", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.5em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #D3CDDE;
}

h2 {
    font-family: "pf-pixelscript", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.4em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

h3 {
    font-family: "pf-pixelscript", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.1em;
    text-align: center;
    padding: 20px;
    color: #14111A;
}

section{
    width: 1200px;
    height: 800px;
    border-radius: 7px;
    border-style:  double;
    margin: auto;
    color: #D3CDDE;
    
}

img .background{
    width: 1200px;
    height: 800px;
    border-radius: 7px;
}

img {
    border-radius: 7px;
}

body {
    background-color: #14111A;
}

p {
    font-family: "Inter";
    color: #39373d;
    font-size: 1em;
}

button {
    font-family: "Inter";
    z-index: 1;
    border-radius: 7px;
    border-style: none;
    color: #D3CDDE;
    padding: 7px;
    background-color: #3D364C;

}



.hidden {
    display: none;
}

.showing {
    display: block;
}



 #overlayAboutMe {
    box-sizing: border-box;
    background-color:#E9E4F1;
    border-style: solid;
    border-width: 2px;
    border-color: #5E5571;
    padding: 20px;
    width: 360px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}


#overlayPalettes {
    box-sizing: border-box;
    background-color:#E9E4F1;
    border-style: solid;
    border-width: 2px;
    border-color: #5E5571;
    padding: 20px;
    width: 350px;
    height: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#overlayPalettes .slide {
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: #E9E4F1;
    padding: 20px;
    text-align: center;
}


#overlayLooks {
    box-sizing: border-box;
    background-color:#E9E4F1;
    border-style: solid;
    border-width: 2px;
    border-color: #5E5571;
    padding: 20px;
    width: 350px;
    height: 535px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    display: none;
    flex-direction: column;
    justify-content: space-between;

}

#overlayLooks .slide {
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: #E9E4F1;
    padding: 20px;
    text-align: center;
}

#overlayAlbums {
    box-sizing: border-box;
    background-color:#E9E4F1;
    border-style: solid;
    border-width: 2px;
    border-color: #5E5571;
    padding: 20px;
    width: 370px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    display: none;
    flex-direction: column;
    justify-content: space-between;

}

#overlayAlbums .slide {
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: #E9E4F1;
    padding: 20px;
    text-align: center;
}

/* sets all slides to transparent but top one is opaque (inline rule overrides opacity 0 */
.slide {
    opacity: 0;
}


article div{
    align-content: center;
    text-align: center;
}

article div p{
    padding-bottom: 10px;
}

/* typewriter effect from Geoff Graham on CSS Tricks */

.typewriter h1 {
    overflow: hidden; /* ensures content is not revealed until the animation */
    border-right: .15em dashed #3D364C;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(50, end),
        blink-caret .75s step-end infinite;
}

/* the typing effect from start to finish */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* typewritor cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #3D364C; }
}









